<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h2>Login:</h2>
<form action="/login" method="POST">
  <input placeholder="username" name="username">
  <input type="password" placeholder="password" name="password">
  <input type="submit" value="Login">
</form>

<h2>Register:</h2>
<form action="/register" method="POST">
  <input placeholder="username" name="username">
  <input type="password" placeholder="password" name="password">
  <input type="submit" value="Register">
</form>
